$green: #C8FE55;
$title_first_letter_color: #FFFCFC;
$body_text: #FFFCFC;
$white: rgba(255,255,255,1);
$top_stripe_color: rgba(92,72,253,1);
$background_color: rgba(8,8,29,1);
$navbar_color: rgb(1,0,5);
$btn_gray: #272A31;
$font-family_1: Source Sans Pro;

$animation_list: (v3_620, v3_618, v3_619);
$animation_length: length($animation_list);

@keyframes arrowMove {
	100% {
		transform: rotate(180deg) scale(0.7,0.7);
		left: 1241px;
	}
}
* {
	box-sizing: border-box;
}
html {
  background-color: $background_color;
}
body {
	font-size: 14px;
	opacity: 0;
	transition: opacity .5s;
}
.bkg {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1080px;
	overflow: hidden;
	background: rgba(8,8,29,1);
}
#home_title {
	color: $green;
	text-align: left;
	font-family: $font-family_1;
	font-size: 168px;
	font-weight: Bold;
	line-height: 95%;
}
.nuclear {
	position: absolute;
	top: 380px;
	left: 270px;
	width: 959px;
	height: 141.84px;
}
.nuclear::first-letter {
	color: $title_first_letter_color;
}
.magnetic {
	position: absolute;
	top: 508px;
	left: 474px;
	width: 959px;
}
.magnetic::first-letter {
	color: $title_first_letter_color;
}
.resonance {
	position: absolute;
	top: 637px;
	left: 164px;
	width: 959px;
}
.resonance::first-letter {
	color: $title_first_letter_color;
}
.blue_stripe {
	position: absolute;
	top: 176px;
	left: 0px;
	width: 100%;
	height: 4px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	background: $top_stripe_color;
	z-index: 2;
}
.arrow {
	position: absolute;
	top: 768px;
	left: 1478px;
	width: 244px;
	height: 176px;
	overflow: hidden;
	background: url("../images/arrowHomepage.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 244px 176px;
	&:focus {
		animation: arrowMove 1s 2 alternate;
	}
	&:active {
		animation: none;
	}
}
.menu_bar {
  width: 100%;
  height: 180px;
  background: $navbar_color;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1125px calc(100% - 1777px) 270px 195px 187px;
  grid-template-rows: 180px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title empty fundamentals courses research";
}

.fundamentals { grid-area: fundamentals;
position: absolute;
bottom: 18px; }

.empty { grid-area: empty; }

.courses { grid-area: courses;
position: absolute;
bottom: 18px; }

.research { grid-area: research;
position: absolute;
bottom: 18px; }

.menu_button {
  color: #FFF;
  text-align: left;
  font-family: Source Sans Pro;
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
}
.menu_button .green {
  color: $green;
}
.nmr_line {
	color: $green;
}
.page_list {
	display: none;
	position: absolute;
	top: 372px;
	left: 1338px;
	width: 425px;
	height: 544px;
	background: $background_color;

	flex-wrap: nowrap;
	flex-direction: column;

	.green {
		color: $green;
	}

	.disabled {
		background-color: #171A22;
		color: #373A40;
	}
}
.page_btn {
	width: 425px;
	height: 100px;
	left: 0px;

	margin: 36px 0px 0px 0px;

	background: $btn_gray;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 125%;
	color: white;
	padding-left: 20px;
	display: flex;
	text-align: left;
	align-items: center;
}
.page_btn:active {
	opacity: 0.75;
}
.left_list {
	display:none;
	font-family: $font-family_1;
	font-weight: 300;
	width: 1050px;
	height: 900px;
	margin-left: 150px;
	flex-direction: column;
	justify-content: center;

	:not(:last-child) {
		margin-bottom: 18px;
	}

	h3 {
		flex: 0 0 400px;
		font-weight: 400;
		margin-bottom: 0%;
		margin-top: 0%;
		padding-top: 16px;
	}
}
.page_sub_btn {
	display: flex;
	color: $white;
	font-size: 30px;
	padding-left: 36px;
	padding-bottom: 12px;
	align-items: baseline;

	ul {
		list-style: none;
		margin: 15px 0px 15px 0px;
		padding: 12px;

		:not(:last-child) {
			margin-bottom: 24px;
		}
		:active {
			opacity: 0.75;
		}
		li {
			background-color: $btn_gray;
			padding: 15px;
			line-height: 127%;
			align-items: center;

			
		}
	}	

}
.menu1 {
	position: absolute;
	top: 112px;
	left: 1267px;
	width: 180px;
}
.menu2 {
	position: absolute;
	top: 112px;
	left: 1538px;
	width: 154px;
}
.menu3 {
	position: absolute;
	top: 112px;
	left: 1733px;
	width: 192px;
}