.btn-group .button {
  background-color: #81D4FA; /* Blue */
  border: none;
  /*border-radius: 5px;*/
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button2 {
  background-color: #4C1260; /* Purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.btn-group .button:hover {
  background-color: #4FC3F7;
}

#n2Button:hover {
  background-color: #3e8e41;
}

#offButton {
  background-color: #000000; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

/*Key Divisons*/
.nav-button {
    background-color: #4f3276;
    border: none;
    color: white;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 10px;
}

.nav-button:hover {
    background-color:#412667;
    color:#d4aa03;
}

.nav-button-disabled {
	background-color:#9487a6;
	border: none;
    color: #e8e8e8;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 4px 6px;
    pointer-events: none;
    cursor: default;
    border-radius: 10px;
}

.main-content {
    width: 90%;
    height: 90%;
    padding-left: 5%;
    padding-right: 5%;
}    

.subtitle {
	text-align: center;
}

.lab-left {
    margin: 5%;
    border-style: solid;
    border-width: 5 px;
    border-color: #4f3276;
    border-radius: 10px;
    padding: 15px;
    clear:both;
    overflow:auto;
	cursor: pointer;
}    
.lab-left img {
    float:left;
    margin-right: 10px;
    border-radius: 10px;
    width: 20%;
}

.lab-right {
    margin: 5%;
    border-style: solid;
    border-width: 5 px;
    border-color: #4f3276;
    border-radius: 10px;
    padding: 15px;
    clear:both;
    overflow:auto;
	cursor: pointer;
} 

.lab-right img {
    float:right;
    margin-left: 10px;
    border-radius: 10px;
    width: 20%;
}

.page-connect {
    width: 70%;
    margin-left:15%;
    background-color: #4f3276;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    padding: 40px 0px;
    margin-top:40px;
}
.page-connect:hover {
    background-color:#412667;
    color:#d4aa03;
}

/*Fonts and Headings*/
@import url(//db.onlinewebfonts.com/c/d5eabe909d080bbee3d3bbfe602bdeb4?family=Homestead);
@font-face {font-family: "Homestead"; src: url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.eot"); src: url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.woff") format("woff"), url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d5eabe909d080bbee3d3bbfe602bdeb4.svg#Homestead") format("svg"); } 

h1 {
   font-size:80px;
   text-align:center;
   padding-top:30px;
   padding-bottom:0px;
   margin-bottom:0px;
   
}    

h2 {
    font-size:50px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
}
h3 { 
    font-size:35px;
    margin-bottom:0px;
    margin-top:0px;
}

p {
    font-size: 25px;
}
    
